@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

.A-background {
    background-color: #1B1B1B;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.A-Title-text{
    text-Align : center;
    font-size : 70px;
    font-family: 'Kavoon', cursive;
    color : white;
    margin-bottom : 30px;
}

.A-highlighted-text {
    color: #FE6F61; /* 변경하고자 하는 색상을 지정합니다. */
}

.A-rectangle{
    width : 650px;
    height : 800px;
    border-radius: 10px;
    border: 5px solid #696969;
    background-color : #1B1B1B;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 70px;
    text-align : center;
}

.A-account-title{
    font-size : 40px;
    font-family : 'LINE Seed Sans KR', Bold;
    font-weight : bold;
    color : white;
    margin-top : -20px;
}

.A-text-title{
    font-family : 'LINE Seed Sans KR', Bold;
    font-size : 20px;
    text-align : left;
    color : white;
    margin-bottom:-10px;
    margin-right : 350px;
}

.A-email-box{
    width : 500px;
    height : 70px;
    border : none;
    border-radius : 20px;
    background-color : #2A2A2A;
    color : white;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
    font-size : 25px;
    font-family : 'LINE Seed Sans KR', Bold;
    font-weight : 200;
    padding-left : 25px;
    margin-bottom : -10px;
}

.A-password-box{
    width : 500px;
    height : 70px;
    border : none;
    border-radius : 20px;
    background-color : #2A2A2A;
    color : white;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
    font-size : 25px;
    font-family : 'LINE Seed Sans KR', Bold;
    font-weight : 200;
    margin-top : 30px;
    margin-bottom : -30px;
    padding-left : 25px;
}

.A-checkbox-text{
    font-size : 20px;
    font-family : 'LINE Seed Sans KR', Bold;
    font-weight : 200;
    color : white;
    text-align : center;
    margin-top : -40px;
    margin-bottom : 10px;
}

.A-checkbox{
    width : 20px;
    height : 20px;
    margin-top : -5px;
    margin-right : 10px;
    text-align : center;
}

.A-account-Button{
    width : 500px;
    height : 70px;
    border : none;
    border-radius : 20px;
    background-color : #FE6F61;
    color : white;
    text-align : center;
    font-size : 35px;
    font-family : 'LINE Seed Sans KR', Bold;
    font-weight : bold;
    margin-top : 40px;
    padding-top : 10px;
}

.idAvailable {
    color: #FE6F61;
    text-align: center;
    font-size: 20px;
    font-family: 'LINE Seed Sans KR', Bold;
    font-weight: 100;
    padding-top : -50px;
    padding-bottom : -30px;
}
