@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

.L-background {
    background-color: #1B1B1B;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.L-rectangle{
    width : 650px;
    height : 620px;
    border-radius: 10px;
    border: 5px solid #696969;
    background-color : #1B1B1B;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 70px;
}

.L-Title-text{
    text-Align : center;
    font-size : 70px;
    font-family: 'Kavoon', cursive;
    margin-bottom : 20px;
}

.L-highlighted-text {
    color: #FE6F61; /* 변경하고자 하는 색상을 지정합니다. */
}

.L-login-text{
    font-size : 30px;
    font-family : 'LINE Seed Sans KR', Bold;
    font-weight : 200;
    color : white;
}

.L-to-account-Button{
    color : #FE6F61;
    font-size : 30px;
    font-family : 'LINE Seed Sans KR', Bold;
    font-weight : bold;
    margin-left : 10px;
}

.L-email-box{
    width : 500px;
    height : 70px;
    border : none;
    border-radius : 20px;
    background-color : #2A2A2A;
    color : white;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
    font-size : 25px;
    font-family : 'LINE Seed Sans KR', Bold;
    font-weight : 200;
    margin-bottom : 5px;
    padding-left : 25px;
}

.L-password-box{
    width : 500px;
    height : 70px;
    border : none;
    border-radius : 20px;
    background-color : #2A2A2A;
    color : white;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
    font-size : 25px;
    font-family : 'LINE Seed Sans KR', Bold;
    font-weight : 200;
    margin-top : 5px;
    padding-left : 25px;
}

.L-login-Button{
    width : 500px;
    height : 70px;
    border : none;
    border-radius : 20px;
    background-color : #FE6F61;
    color : white;
    text-align : center;
    font-size : 35px;
    font-family : 'LINE Seed Sans KR', Bold;
    font-weight : bold;
    margin-top : 10px;
    padding-top : 10px;
}

.L-noneCorrect{
    margin-top : 10px;
    font-size : 20px;
    font-family : 'LINE Seed Sans KR', Bold;
    font-weight : 100;
    text-align : center;
    color : white;
}