@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

.M-background {
    background-color: #1B1B1B;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.icon {
    width: 100px;
    height: 100px;
    pointer-events: none;
}

.preview.active{
    background-color : #efeef3;
    border-color : #111;
}

.preview_info {
    width: 100%;
    list-style: none;
    padding: 0;
    gap: 16px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.upload-box{
    width: 900px;
    height: 900px;
    border-radius: 10px;
    border: 5px dashed #696969;
    background-color : #1B1B1B;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 70px;
}  

.drag-file{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.upload-text{
    text-Align : center;
    font-size : 25px;
    font-family: 'LINE Seed Sans KR', Bold;
    font-weight : bold;
    line-height : 15px;
    margin : 20px 0 10px;
    color : white;
}

.sub-text{
    text-Align : center;
    font-size : 25px;
    font-family: 'LINE Seed Sans KR', Thin;
    font-weight : 320;
    line-height : 15px;
    margin-top : 10px;
    color : white;
}

.sub-sub-text{
    text-Align : center;
    font-size : 15px;
    font-family: 'LINE Seed Sans KR', Thin;
    font-weight : 200;
    line-height : 15px;
    color : white;
}
/* 
.upload-image{
    width : 126px;
    text-align : center;
}

.file {
    display: none;
}

.file::file-selector-button {
    font-size: 14px;
    background: #fff;
    border: 1px solid #111;
    border-radius: 12px;
    padding: 4px 32px;
    cursor: pointer;
}

.preview {
    width: 300px;
    height: 150px;
    margin: auto;
    background-color: #fff;
    border-radius: 5px;
    border: 3px dashed #eee;
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.preview:hover {
    border-color: #111;
} */