@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');


.Navbar {
    background-color: black;
    height: 87px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.N-highlighted-text {
    color: #FE6F61;
}

.NavTitle {
    color: white;
    font-size: 50px;
    font-family: 'Kavoon', cursive;
    margin-bottom: -10px;
    margin-top: -5px;
    margin-left : -50px;
}

.N-invertButton{
    background-color : #FE6F61;
    color : white;
    font-size : 25px;
    width : 136px;
    height : 48px;
    border-radius : 20px;
    text-align : center;
    font-family: 'Kavoon', cursive;
    margin-right : 9px;
    Justify-content : center;
    padding-top : 5px;
}

.N-myPageButton{
    background-color : #2A2A2A;
    color : white;
    font-size : 25px;
    width : 136px;
    height : 48px;
    border-radius : 20px;
    text-align : center;
    font-family : 'Kavoon', cursive;
    margin-left : 9px;
    margin-right : -50px;
    Justify-content : center;
    padding-top : 5px;
}

/* invertButton hover 효과 */
.N-invertButton:hover {
    background-color: #FF867B; /* 마우스를 올렸을 때 배경색 변경 */
    color: black; /* 텍스트 색상 변경 */
}

/* loginButton hover 효과 */
.N-myPageButton:hover {
    background-color: #555; /* 마우스를 올렸을 때 배경색 변경 */
    color: black; /* 텍스트 색상 변경 */
}