@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');


.Navbar {
    background-color: black;
    height: 87px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.highlighted-text {
    color: #FE6F61;
}

.NavTitle {
    color: white;
    font-size: 50px;
    font-family: 'Kavoon', cursive;
    margin-bottom: -10px;
    margin-top: -5px;
    margin-left : -50px;
}
